<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>My City - shared on themelock.com – Place grid</title>

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<!--Main styles-->
<link rel="stylesheet" type="text/css" href="css/main.css">
<!--Adaptive styles-->
<link rel="stylesheet" type="text/css" href="css/adaptive.css">
<!--Swipe menu-->
<link rel="stylesheet" type="text/css" href="css/pushy.css">
<!--fonts-->
<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body >
<!--navigation swipe-->
<div class="menu-btn">&#9776;</div>
<nav class="pushy pushy-left">
<div class="profile">
<div class="avatar"><img src="img/avatar/ava-16.jpg" alt="#"><span>5</span></div>
<h3><a href="03.html">Ananew Matvey</a></h3>
<a href="#" class="log-btn">Log in</a>
</div>
<ul class="side-menu">
<li><a href="index.html"><i class="fa fa-bookmark-o"></i>Promo page</a></li>
<li><a href="01.html" class="animsition-link"><i class="fa fa-map-marker"></i>Map</a></li>
<li><a href="05.html"><i class="fa fa-list"></i>Place list</a></li>
<li><a href="04.html"><i class="fa fa-th"></i>Place grid</a></li>
<li><a href="02.html"><i class="fa fa-building-o"></i>Place</a></li>
<li><a href="03.html"><i class="fa fa-user"></i>User profile</a></li>
<li><a href="06.html"><i class="fa fa-book"></i>Blog</a></li>
<li><a href="07.html"><i class="fa fa-file-powerpoint-o"></i>Open post</a></li>
</ul>
</nav>
<!--add-->
<div class="add-place none" id="pl">
<div class="place-form">
<i class="fa fa-times close-window" id="close"></i>
<h3>Add new place<span></span></h3>
<form>
<label>Place name:<input type="text"></label>
<label>latitude:<input type="text"></label>
<label>longitude:<input type="text"></label>
<label>Categori:
<select>
<option value="Cafe">Cafe</option>
<option value="Bar">Bar</option>
<option value="Cinema">Cinema</option>
<option value="Shop">Shop</option>
<option value="Club">Club</option>
<option value="Bank">Bank</option>
</select>
</label>
<a href="#" class="green-btn-header" id="add">Add</a>
</form>
</div>
</div>

<!--autorization-->
<div class="add-place none" id="autorized">
<div class="place-form login-form">
<i class="fa fa-times close-window" id="closeau"></i>
<h3>Autorization<span></span></h3>
<form>
<label>Login:<input type="text"></label>
<label>Password:<input type="text"></label>
<a href="#" class="btn btn-success">Log in</a>
<a href="#" class="btn btn-primary"><i class="icon-facebook"></i>Log in with Facebook</a>
</form>
</div>
</div>
<div class="container contant">
<div class="row">
<div class="site-overlay"></div>


<!--head-->
<div class="head">
<a href="index.html" class="logo"><img src="img/logo.png" alt="Mycity"/></a>
<a href="#" class="green-btn-header" id="ad"><i class="fa fa-plus"></i></a><input type="text" class="search" placeholder="search">
</div>
<!--content-->
<div class="col-md-12 basic">

<div class="place-gr-cont">
<h1>Place grid</h1>
<p class="lead">You can use all Bootstrap plugins purely through the markup API without writing a single line of JavaScript. This is Bootstrap's first-class API and should be your first consideration when using a plugin.</p>
<!--Blog category-->
<ul class="blog-cat">
<li><a href="#" class="shop"><i class="fa fa-shopping-cart"></i>Market</a></li>
<li><a href="#" class="cinema"><i class="fa fa-film"></i>Cinema</a></li>
<li><a href="#" class="club"><i class="fa fa-beer"></i>Bar</a></li>
<li><a href="#" class="cafe"><i class="fa fa-cutlery"></i>Restaurant</a></li>
<li><a href="#" class="sport"><i class="fa fa-futbol-o"></i>Sport</a></li>
<li><a href="#" class="port"><i class="fa fa-life-ring"></i>Port</a></li>
<li><a href="#" class="bank"><i class="fa fa-university"></i>Bank</a></li>
<li><a href="#" class="post"><i class="fa fa-envelope-o"></i>post</a></li>
<li><a href="#" class="showplace"><i class="fa fa-eye"></i>Showplace</a></li>
<li><a href="#" class="park"><i class="fa fa-leaf"></i>Park</a></li>
</ul>
<!--place style one-->
<div class="pg style-one" onclick="location.href='03.html';">
<div class="p-cont">
<h2>Central Park<span></span></h2>
<span>You can use all Bootstrap plugins purely through the markup API without writing a single line of JavaScript. This is Bootstrap's first-class API and should be your first consideration when using a plugin.</span>
</div>
<img src="img/pl3.jpg" alt="">
<div class="dar-bg-frid"></div>
</div>
<!--place style one-->
<div class="pg style-one" onclick="location.href='03.html';">
<div class="p-cont">
<h2>Central Park<span></span></h2>
<span>You can use all Bootstrap plugins purely through the markup API without writing a single line of JavaScript. This is Bootstrap's first-class API and should be your first consideration when using a plugin.</span>
</div>
<img src="img/pl2.jpg" alt="">
<div class="dar-bg-frid"></div>
</div>
<!--place style one-->
<div class="pg style-one" onclick="location.href='03.html';">
<div class="p-cont">
<h2>Central Park<span></span></h2>
<span>You can use all Bootstrap plugins purely through the markup API without writing a single line of JavaScript. This is Bootstrap's first-class API and should be your first consideration when using a plugin.</span>
</div>
<img src="img/pl1.jpg" alt="">
<div class="dar-bg-frid"></div>
</div>
<!--place style two-->
<div class="pg style-two" onclick="location.href='03.html';">
<h2>The Metropolitan Museum of Art<span></span></h2>
<span>You can use all Bootstrap plugins purely through the markup API without writing a single line of JavaScript. This is Bootstrap's first-class API and should be your first consideration when using a plugin.</span>
</div>
<!--place style two-->
<div class="pg style-two" onclick="location.href='03.html';">
<h2>Washington Square Park<span></span></h2>
<span>You can use all Bootstrap plugins purely through the markup API without writing a single line of JavaScript. This is Bootstrap's first-class API and should be your first consideration when using a plugin.</span>
</div>
<!--place style three-->
<div class="pg style-three" onclick="location.href='03.html';">
<h2>Levain Bakery<span></span></h2>
<span>You can use all Bootstrap plugins purely through the markup API without writing a single line of JavaScript. This is Bootstrap's first-class API and should be your first consideration when using a plugin.</span>
</div>
<!--place style one-->
<div class="pg style-one" onclick="location.href='03.html';">
<div class="p-cont">
<h2>Central Park<span></span></h2>
<span>You can use all Bootstrap plugins purely through the markup API without writing a single line of JavaScript. This is Bootstrap's first-class API and should be your first consideration when using a plugin.</span>
</div>
<img src="img/pl3.jpg" alt="">
<div class="dar-bg-frid"></div>
</div>
<!--place style one-->
<div class="pg style-one" onclick="location.href='03.html';">
<div class="p-cont">
<h2>Central Park<span></span></h2>
<span>You can use all Bootstrap plugins purely through the markup API without writing a single line of JavaScript. This is Bootstrap's first-class API and should be your first consideration when using a plugin.</span>
</div>
<img src="img/pl2.jpg" alt="">
<div class="dar-bg-frid"></div>
</div>

</div>
<!--morebtn-->
<a href="#" class="more-btn">Load more</a>

</div>
</div>
</div>


<!--
#################################
- SCRIPT FILES -
#################################
-->
<!--Google maps API linl-->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCsbzuJDUEOoq-jS1HO-LUXW4qo0gW9FNs"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!--Other main scripts-->
<script src="js/all_scr.js"></script>
<!--Flickr-->
<script src="js/jflickrfeed.js"></script>
<!--Bootstrap js-->  
<script src="js/bootstrap.min.js"></script>
<!--Map js-->
<script type="text/javascript" src="js/map-visits.js"></script>
<script type="text/javascript" src="js/infobox.js"></script>
</body>
</html>