<div class="animation">
  <img src="http://i.imgur.com/Wicp2L2.png"
    class="option animated fadeInDownBig one-element" alt="#">
  <img src="http://i.imgur.com/rxRQEKl.png"
    class="option animated fadeInDownBig two-element" alt="#">
  <img src="http://i.imgur.com/SIAknln.png"
    class="option animated fadeInDownBig three-element" alt="#">
  <img src="http://i.imgur.com/RmxukPV.png"
    class="option animated fadeInDownBig four-element" alt="#">
  <img src="http://i.imgur.com/rxRQEKl.png"
    class="option animated fadeInDownBig five-element" alt="#">
  <img src="http://i.imgur.com/MaWVPDJ.png"
    class="option animated fadeInDownBig six-element" alt="#">
  <img src="http://i.imgur.com/DfdurKW.png"
    class="option animated fadeInRightBig seven-element" alt="#">
  <img src="http://i.imgur.com/SIAknln.png"
    class="option animated fadeInLeftBig eight-element" alt="#">
  <img src="http://i.imgur.com/JKy9kbn.png"
    class="option animated fadeInDownBig nine-element" alt="#">
  <img src="http://i.imgur.com/GUa2Rtw.png"
    class="option animated fadeInUpBig ten-element" alt="#">
  <img src="http://i.imgur.com/3NYHidh.png"
    class="option animated fadeInUpBig quote-element" alt="#">
  <img src="http://i.imgur.com/v1KPscy.png"
    class="option animated fadeInUpBig quote-two-element" alt="#">
</div>
