<div class="animation">
  <img src="img/start/01.png"
    class="option animated fadeInDownBig one-element" alt="#">
  <img src="img/start/02.png"
    class="option animated fadeInDownBig two-element" alt="#">
  <img src="img/start/03.png"
    class="option animated fadeInDownBig three-element" alt="#">
  <img src="img/start/04.png"
    class="option animated fadeInDownBig four-element" alt="#">
  <img src="img/start/05.png"
    class="option animated fadeInDownBig five-element" alt="#">
  <img src="img/start/06.png"
    class="option animated fadeInDownBig six-element" alt="#">
  <img src="img/start/07.png"
    class="option animated fadeInRightBig seven-element" alt="#">
  <img src="img/start/08.png"
    class="option animated fadeInLeftBig eight-element" alt="#">
  <img src="img/start/09.png"
    class="option animated fadeInDownBig nine-element" alt="#">
  <img src="img/start/10.png"
    class="option animated fadeInUpBig ten-element" alt="#">
  <img src="img/start/11.png"
    class="option animated fadeInUpBig quote-element" alt="#">
  <img src="img/start/12.png"
    class="option animated fadeInUpBig quote-two-element" alt="#">
</div>
