<% provide :title, full_title("Artist") %>

<body onload="initialize()">

<%= render "shared/swipe" %>
<div class="container contant">
<div class="row">
<div class="site-overlay"></div>

<!-- Left column-->
<div class="col-md-3 mobile-none">
<!--avatar-->
<div class="user-avatar">
<img src="img/avatar/ava-big.png" alt="#">
<span>Cool</span>
</div>
<div class="user-btn">
<a href="#" class="btn btn-success">Follow</a>
<a href="#" class="btn btn-danger">Sent message</a>
</div>

<!--Friends-->
<!--Friends-->
<div class="user-friends">
<h4>Followers:</h4>
<div class="users-group">
<a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-11.jpg" alt=""></a>
<a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-10.jpg" alt=""></a>
<a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-9.jpg" alt=""></a>
<a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-8.jpg" alt=""></a>
<a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-7.jpg" alt=""></a>
<a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-6.jpg" alt=""></a>
<a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-5.jpg" alt=""></a>
<a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-4.jpg" alt=""></a>
<a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-3.jpg" alt=""></a>
<a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-2.jpg" alt=""></a>
<a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-1.jpg" alt=""></a>
<a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-11.jpg" alt=""></a>
</div>
</div>
</div>


<!--content-->
<div class="col-md-9 basic vp">
<!--head-->
<div class="head">

<a href="index.html" class="logo"><img src="img/logo.png" alt="Mycity"/></a>
<a href="#" class="green-btn-header" id="ad" data-toggle="modal" data-target="pl"><i class="fa fa-plus"></i></a>
<input type="text" class="search" placeholder="search">
</div>
<!--User info for mobile visible-->
<div class="profile-mobile-vis">
<!--avatar-->
<div class="user-avatar">
<img src="img/avatar/ava-big.png" alt="#">
<span>Ananev Matvey</span>
<div class="user-btn">
<a href="#" class="btn btn-success">Add to friend</a>
<a href="#" class="btn btn-danger">Sent message</a>
</div>
</div>

<!--Friends-->
<div class="profile-mobile-vis">
<!--Friends-->
<div class="user-friends">
<h4>Followers:</h4>
<div class="users-group">
<a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-11.jpg" alt=""></a>
<a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-10.jpg" alt=""></a>
<a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-9.jpg" alt=""></a>
<a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-8.jpg" alt=""></a>
<a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-7.jpg" alt=""></a>
<a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-6.jpg" alt=""></a>
<a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-5.jpg" alt=""></a>
<a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-4.jpg" alt=""></a>
<a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-3.jpg" alt=""></a>
<a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-2.jpg" alt=""></a>
<a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-1.jpg" alt=""></a>
<a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-11.jpg" alt=""></a>
</div>
</div>

</div>

</div>
<!--visited places-->
<h1>Cool</h1>


<!-- <div id="map" class="map-user-visits"></div> -->
<!--reviews-->

<div class="reviews">
<div class="tabbable" id="tabs-89313">
<ul class="nav nav-tabs">
<li class="active">
<a href="#panel-355954" data-toggle="tab">Tracks</a>
</li>
<li>
<a href="#panel-621042" data-toggle="tab">Comments</a>
</li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="panel-355954">
<h4>145 Tracks:</h4>

<div class="rev">
<div class="user"><a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-11.jpg" alt=""></a></div>
<div class="texts">
<div class="head-rev"><a href="02.html">Oki doki</a> <span>12.09.2008</span></div>
<div class="text-rev">Đặt trình phát nhạc tại đây</div>
</div>
</div>
  <a href="#" class="more-btn">Load more</a>
</div>
<div class="tab-pane" id="panel-621042">
<h4>145 Comments:</h4>

<!--review-->
<div class="rev">
<div class="user"><a href="02.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="img/avatar/ava-11.jpg" alt=""></a></div>
<div class="texts">
<div class="head-rev"><a href="02.html">Oki doki</a> <span>12.09.2008</span></div>
<div class="text-rev">Get a history lesson on possibly the world's most famous beverage -- and sample Coca-Cola products from around the globe! Kids will love it...</div>
</div>
</div>
<!--review-end-->
<a href="#" class="more-btn">Load more</a>
</div>
<!--morebtn-->

</div>
</div>

</div>

</div>
</div>
</div>
</body>
