<% provide :title, full_title("Track") %>

<body onload="initialize()">
<!--navigation swipe-->
<%= render "shared/swipe" %>
<div class="container contant">
<div class="row">
<div class="site-overlay"></div>
<!-- Left column-->
<div class="col-md-3 mobile-none sidebar">
<!--map place point-->
<img src="http://i.imgur.com/8Hob1Ge.jpg" class="user-image" alt="#">
<div class="address">
<h3>Cool</h3>
<span>Tracks: 200</span>
<span>Follower: 200</span>
</div>

<!--Similar Place-->
<div class="similar">
<h3>More from Cool:</h3>
<div>
<img src="http://i.imgur.com/XaZCBtV.png" alt="#">
<a href="#">All for you</a>
<a href="#" class="">Cool</a>
<i class="fa fa-thumbs-o-up"></i>34 likes
</div>
<div>
<img src="http://i.imgur.com/XaZCBtV.png" alt="#">
<a href="#">Destiny</a>
<a href="#" class="">Cool</a>
<i class="fa fa-thumbs-o-up"></i>123 likes
</div>
<div>
<img src="http://i.imgur.com/XaZCBtV.png" alt="#">
<a href="#">Jumbo mambo</a>
<a href="#" class="">Cool</a>
<i class="fa fa-thumbs-o-up"></i>3 likes
</div>
</div>
<div class="similar">
<h3>Related:</h3>
<div>
<img src="http://i.imgur.com/XaZCBtV.png" alt="#">
<a href="#">Wrecking ball</a>
<a href="#" class="">Nicky Minai</a>
<i class="fa fa-thumbs-o-up"></i>34 likes
</div>
<div>
<img src="http://i.imgur.com/XaZCBtV.png" alt="#">
<a href="#">Tiến quân ca</a>
<a href="#" class="">Trọng tấn</a>
<i class="fa fa-thumbs-o-up"></i>123 likes
</div>
<div>
<img src="http://i.imgur.com/XaZCBtV.png" alt="#">
<a href="#">L0 - The conclusion</a>
<a href="#" class="">Iceloki</a>
<i class="fa fa-thumbs-o-up"></i>3 likes
</div>
</div>
</div>

<!--content-->
<div class="col-md-9 basic">

<!--head-->
<%= render "shared/header" %>

<!--Header section-->
<div class="header-section">
<img src="http://i.imgur.com/XaZCBtV.png" alt="">
<h1>Aloha</h1>
<ul>
<li><a href="#">Cool</a></li>
</ul>

</div>

<!--Phone info-->
<div class="phone-email">
<span><i class="fa fa-phone"></i><a href="http://matart.ru">Rock & roll</a></span>
<span><i class="fa fa-globe"></i><a href="http://matart.ru">R&b</a></span>
</div>
<!--icon description block-->
<div class="icon-descr-block">
<div class="cols">
<div class="icons id-orange"><span class="ic"><i class="fa fa-comments-o"></i></span><span class="num">1034</span></div>
<div class="icons id-green"><span class="ic"><i class="fa fa-users"></i></span><span class="num">1034</span></div>
<div class="icons id-blue"><span class="ic"><i class="fa fa-globe"></i></span><span class="num">1034</span></div>
</div>
<div class="bubble">
  <div>Hello guy, this is my first song that I spent numerous times composing. Hope you enjoy this!
  <span></span></div>
</div>
</div>

<!--Features info-->
<!-- <div class="features-block">
<div>
<ul>
<li>Track: <b>Aloha</b></li>
<li>Duration: <b>2:30</b></li>
</ul>
</div>
<div>
<ul>
<li>Artist: <b>Cool</b></li>
<li>: <b>Yes</b></li>
</ul>
</div>
</div> -->

<!--Share this place btn and total visitors-->
<div class="share-block">
<div>
<a href="#" class="green-button">Share this place</a>
</div>
<div>
<div>
<span>Total Plays</span>
419 total
</div>
</div>
</div>

<!--Check in-->
<div class="check-in">
<div>
<a href="03.html">Vlad Mickh</a> likes this
<div class="users-group">
<!--user-->
<a href="03.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="http://i.imgur.com/8Hob1Ge.jpg" alt=""></a>
<!--user-->
<a href="03.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="http://i.imgur.com/8Hob1Ge.jpg" alt=""></a>
</div>
</div>
</div>

<div class="reviews">
<!--reviews-->
<h4>145 Comment:</h4>
<!--review-->
<div class="rev">
<div class="user">
<!--user avatar-->
<a href="03.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="http://i.imgur.com/8Hob1Ge.jpg" alt=""></a>
</div>
<div class="texts">
<div class="head-rev"><a href="03.html">Mattew An</a> <span>12.09.2008</span></div>
<div class="text-rev">Get a history lesson</div>
</div>
</div>
<!--review end-->
<!--review-->
<div class="rev">
<div class="user">
<!--user avatar-->
<a href="03.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="http://i.imgur.com/8Hob1Ge.jpg" alt=""></a>
</div>
<div class="texts">
<div class="head-rev"><a href="03.html">Mattew An</a> <span>12.09.2008</span></div>
<div class="text-rev">Get a history lesson</div>
</div>
</div>
<!--review end-->
<!--review-->
<div class="rev">
<div class="user"> <!--user avatar-->
<a href="03.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="http://i.imgur.com/8Hob1Ge.jpg" alt=""></a></div>
<div class="texts">
<div class="head-rev"><a href="03.html">Mattew An</a> <span>12.09.2008</span></div>
<div class="text-rev">Get a history lesson on possibly the world's most famous beverage -- and sample Coca-Cola products from around the globe! Kids will love it...Get a history lesson on possibly the world's most famous beverage -- and sample Coca-Cola products from around the globe! Kids will love it...Get a history lesson on possibly the world's most famous beverage -- and sample Coca-Cola products from around the globe! Kids will love it...</div>
</div>
</div>
<!--review end-->
<!--review-->
<div class="rev">
<div class="user"> <!--user avatar-->
<a href="03.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="http://i.imgur.com/8Hob1Ge.jpg" alt=""></a></div>
<div class="texts">
<div class="head-rev"><a href="03.html">Mattew An</a> <span>12.09.2008</span></div>
<div class="text-rev">Get a history lesson on possibly the world's most famous beverage</div>
</div>
</div>
<!--review end-->
<!--review-->
<div class="rev">
<div class="user"> <!--user avatar-->
<a href="03.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="http://i.imgur.com/8Hob1Ge.jpg" alt=""></a></div>
<div class="texts">
<div class="head-rev"><a href="03.html">Mattew An</a> <span>12.09.2008</span></div>
<div class="text-rev">Get a history lesson</div>
</div>
</div>
<!--review end-->
<!--review-->
<div class="rev">
<div class="user"> <!--user avatar-->
<a href="03.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="http://i.imgur.com/8Hob1Ge.jpg" alt=""></a></div>
<div class="texts">
<div class="head-rev"><a href="03.html">Mattew An</a> <span>12.09.2008</span></div>
<div class="text-rev">Get a history lesson on possibly the world's most famous beverage -- and sample Coca-Cola products from around the globe! </div>
</div>
</div>
<!--review end-->
<!--review-->
<div class="rev">
<div class="user"> <!--user avatar-->
<a href="03.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="http://i.imgur.com/8Hob1Ge.jpg" alt=""></a></div>
<div class="texts">
<div class="head-rev"><a href="03.html">Mattew An</a> <span>12.09.2008</span></div>
<div class="text-rev">Get a history lesson on possibly the world's most famous beverage </div>
</div>
</div>
<!--review end-->
<!--review-->
<div class="rev">
<div class="user"> <!--user avatar-->
<a href="03.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="http://i.imgur.com/8Hob1Ge.jpg" alt=""></a></div>
<div class="texts">
<div class="head-rev"><a href="03.html">Mattew An</a> <span>12.09.2008</span></div>
<div class="text-rev">Get a history lesson on possibly the world's most famous beverage -- and sample Coca-Cola products from around the globe! Kids will love it...</div>
</div>
</div>
<!--review end-->
<!--review-->
<div class="rev">
<div class="user"> <!--user avatar-->
<a href="03.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="http://i.imgur.com/8Hob1Ge.jpg" alt=""></a></div>
<div class="texts">
<div class="head-rev"><a href="03.html">Mattew An</a> <span>12.09.2008</span></div>
<div class="text-rev">Get a history lesson on possibly </div>
</div>
</div>
<!--review end-->
<!--review-->
<div class="rev">
<div class="user"> <!--user avatar-->
<a href="03.html" class="user-avatars">
<div class="user-go">
<i class="fa fa-link"></i>
</div>
<img src="http://i.imgur.com/8Hob1Ge.jpg" alt=""></a></div>
<div class="texts">
<div class="head-rev"><a href="03.html">Mattew An</a> <span>12.09.2008</span></div>
<div class="text-rev">Get a history lesson on possibly the world's most famous beverage -- and sample Coca-Cola products from around the globe! Kids will love it...</div>
</div>
</div>
<!--review end-->
<!--add comment-->
<div class="add-comment">
<h4>Add comment</h4>
<textarea></textarea>
<a href="#" class="btn btn-success">Add comment</a>
</div>
</div>
</div>
</div>
</div>

</body>
