<div class="head">
<a href="index.html" class="logo"><img src="img/logo.png" alt="Mycity"/></a>
<a href="#" class="green-btn-header" id="ad" data-toggle="modal" data-target="pl"><i class="fa fa-plus"></i></a>
<input type="text" class="search" placeholder="search">
</div>
