<!--autorization-->
<div class="add-place none" id="autorized">
<div class="place-form login-form">
<i class="fa fa-times close-window" id="closeau"></i>
<h3>Autorization<span></span></h3>
<form>
<label>Email:<input type="email"></label>
<label>Password:<input type="password"></label>
<a href="#" class="btn btn-success">Log in</a>
<a href="#" class="btn btn-primary"><i class="icon-facebook"></i>Log in with Facebook</a>
</form>
</div>
</div>
