<div class="menu-btn">&#9776;</div>
<nav id="pushy" class="pushy pushy-left">
<div class="profile">
<div class="avatar"><img src="img/avatar/ava-16.jpg" alt="#"><span>5</span></div>
<h3><a href="03.html">You're not login</a></h3>
<button class="log-btn" id="login">Log in</button>
</div>
<ul class="side-menu">
<li><a href="index.html"><i class="fa fa-bookmark-o"></i>Promo page</a></li>
<li><a href="01.html" class="animsition-link"><i class="fa fa-map-marker"></i>Map</a></li>
<li><a href="05.html"><i class="fa fa-list"></i>Place list</a></li>
<li><a href="04.html"><i class="fa fa-th"></i>Place grid</a></li>
<li><a href="02.html"><i class="fa fa-building-o"></i>Place</a></li>
<li><a href="03.html"><i class="fa fa-user"></i>User profile</a></li>
<li><a href="06.html"><i class="fa fa-book"></i>Blog</a></li>
<li><a href="07.html"><i class="fa fa-file-powerpoint-o"></i>Open post</a></li>
</ul>
</nav>
<!--add-->
<div class="add-place none" id="pl">
<div class="place-form">
<i class="fa fa-times close-window" id="close"></i>
<h3>Add new place<span></span></h3>
<form>
<label>Place name:<input type="text"></label>
<label>latitude:<input type="text"></label>
<label>longitude:<input type="text"></label>
<label>Categori:
<select>
<option value="Cafe">Cafe</option>
<option value="Bar">Bar</option>
<option value="Cinema">Cinema</option>
<option value="Shop">Shop</option>
<option value="Club">Club</option>
<option value="Bank">Bank</option>
</select>
</label>
<a href="#" class="green-btn-header" id="add">Add</a>
</form>
</div>
</div>

<!--autorization-->
<div class="add-place none" id="autorized">
<div class="place-form login-form">
<i class="fa fa-times close-window" id="closeau"></i>
<h3>Autorization<span></span></h3>
<form>
<label>Login:<input type="text"></label>
<label>Password:<input type="text"></label>
<a href="#" class="btn btn-success">Log in</a>
<a href="#" class="btn btn-primary"><i class="icon-facebook"></i>Log in with Facebook</a>
</form>
</div>
</div>
