# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: bf773dfe9b3774d56adb051b29501db2ec16031d7be02a586c0ebc2b0c8145c622e59e1c0c80de47aade9e4c207df46c9b0f7d6f956ba0056d110311d285e752

test:
  secret_key_base: 176381acb15feae575433f6233fe4c418178b17e0ca04fcf23ed1e998e83e266184717066b7e1e6babdcdd6053fa1e9db5277e56e988df6864f538f35e32dd14

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
